<!--<ul class="card" *ngFor="let card of cards">-->
<!--<li *ngFor="let card of cards">-->
<div class="card-container d-flex flex-wrap justify-content-between">
  <div class="card" *ngFor="let card of cards">
    <div class="card-header">
      <div class="row">
        <span class="material-icons col-sm-2">
          apartment
        </span>
        <div class="col-sm-8 text-center">
          {{ card["city"] }}
        </div>
        <span class="material-icons col-sm-2">
          share
        </span>
      </div>

    </div>
    <!--<img class="card-img-top" src="assets/images/default.jpg" alt="Card image cap">-->
    <!--with quote-->
    <img class="card-img-top" src="{{card['img']}}" alt="Card image cap">

    <!--without quote-->
    <!--<img class="card-img-top" src={{ card["img"] }} alt="Card image cap">-->


    <div class="card-body">

  

      <p class="card-text"> {{ card["content"] }} </p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Liên Hệ: {{ card["contact"] }} </li>
      <li class="list-group-item">Địa chỉ: {{ card["address"] }} </li>
      <li class="list-group-item">Thời gian đăng: {{ card["time"] }} </li>

    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>

  {{ card }}
  <!--</li>-->
  <!--</ul>-->
</div>
