
<h2 class="page-title">Đăng Rao Vặt</h2>
<p> <span class="field-validation-error">(*) </span> Cần điền / Indicate required field </p>
<form #f="ngForm" (ngSubmit)="submit(f)">
  <div class="form-group">
    <label for="Title"> <span class="field-validation-error">* </span>Nội Dung Tóm Lược / Summary</label>
    <textarea type="text" name="Title" required rows="3" maxlength="200"
              [(ngModel)]="newPost.Title"
              #courseName="ngModel" class="form-control"></textarea>
  </div>
  <div class="form-group">
    <label for="Content">Nội Dung Chi Tiết / Detail</label>
    <textarea type="text" name="Content" rows="5"
              [(ngModel)]="newPost.Content"
              #courseName="ngModel" class="form-control"> </textarea>
      
  </div>

  <div class="form-group">
    <label for="ContactPhone">Điện Thoại Liên Lạc / Contact Phone</label>
    <input type="text" name="ContactPhone" 
           [(ngModel)]="newPost.ContactPhone"
           #courseName="ngModel" class="form-control">
    <!--<div class="alert alert-danger" *ngIf="ContactPhone.touched && !ContactPhone.valid">
      <div *ngIf="ContactPhone.errors.required">Content is required</div>
    </div>-->
  </div>

  <div class="form-group">
    <label for="ContactEmail">Email Liên Lạc / Contact Email</label>
    <input type="text" name="ContactEmail" 
           [(ngModel)]="newPost.ContactEmail"
           #courseName="ngModel" class="form-control">
    <!--<div class="alert alert-danger" *ngIf="ContactEmail.touched && !ContactEmail.valid">
      <div *ngIf="ContactEmail.errors.required">Content is required</div>

    </div>-->
  </div>

  <div class="form-group">
    <label for="City">Thành Phố / City</label>
    <input type="text" name="City"
           [(ngModel)]="newPost.City"
           #courseName="ngModel" class="form-control">
  </div>

  <div class="form-group">
    <label for="PostalCode">Mã Vùng / Postal Code</label>
    <input type="text" name="PostalCode"
           [(ngModel)]="newPost.PostalCode"
           #courseName="ngModel" class="form-control">
    </div>
    <!--<label for="category">Category</label>
    <select name="category" [(ngModel)]="course.category" required #category="ngModel" class="form-control">
      <option value=null></option>
      <option *ngFor="let item of categories" [value]="item.id">{{item.name}}</option>
    </select>
    <div class="alert alert-danger" *ngIf="category.touched && !category.valid">
      <div *ngIf="category.errors.required">Category is required</div>
    </div>
    <label for="isGuarantee_id">
      <input type="checkbox" name="isGuarantee" id="isGuarantee_id"
      [(ngModel)] = "course.isGuarantee"
      > 30-day money-back guarantee?
    </label>-->
    <!-- [disabled]="!f.valid" -->
    <p>{{f.value | json}}</p>
    <button class="btn btn-primary btn-create-post" type="submit">
      Đăng tin
    </button>
    <p *ngIf="errorMessage">{{errorMessage}}</p>
    <p *ngIf="successMessage">{{successMessage}}</p>
</form>
