.fb {
  background-color: #3B5998;
  color: white;
  width: 250px;
  padding: 10px;
  margin: 10px;
}

.twitter {
  background-color: #55ACEE;
  color: white;
  width: 250px;
  padding: 10px;
  margin: 10px;
}

.google {
  background-color: #dd4b39;
  color: white;
  width: 250px;
  padding: 10px;
  margin: 10px;
}

a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.badge-pill {
  padding: 0.2em 0.8em;
  border-radius: 10rem;
  background-color: white;
  /*color: #1b6ec2;*/
  box-shadow: inset 0 0 0 2px #1b6ec2;
  cursor: pointer;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  /*  font-size: 16px;*/
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

h1 .material-icons {
  font-size: 24px;
}

.btn-create-post {
  /*  min-width: 150px;*/
  /*  font-size: 14px;*/
}

.logo {
  height: 40px;
}

.page-title {
  padding: 20px 0px;
}

.page-footer {
  padding: 20px 0px;
  margin: 40px 0px;
}

span.field-validation-error {
  color: red;
  font-weight: bold;
}

/* Bootstrap Overrides */

/*.form-group {
  margin-bottom: 20px;
}
.form-control {
  font-size: 17px;*/

/*padding: 20px 15px;*/

/*border-radius: 9px;
  -ms-border-radius: 9px;
}*/

.form-control:focus {
  border-color: #2196f3;
  box-shadow: none;
}

/*.btn {
  border-radius: 9px;
  -ms-border-radius: 9px;
}
*/

.category {
  background-color: white;
  font-size: 14px;
  width: 215px;
  margin: 0.2em 0.2em;
  padding: 0px;
  border: none;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05), 0 3px 10px 5px rgba(0, 0, 0, 0.05);
  padding: 0;
}

.category-icon {
  font-size: 30px;
  padding-right: 0.1em;
  margin: 0em;
}

.card {
  background-color: white;
  border-radius: 6px;
  -ms-border-radius: 6px;
  width: 350px;
  margin: 0.5em 0.5em;
  padding: 0px;
  border: none;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05), 0 3px 10px 5px rgba(0, 0, 0, 0.05);
  padding: 0;
}

.card-body {
  padding: 0.7em 0.7em;
}

.card-footer {
  background-color: inherit;
  padding: 0;
  margin: 0em 0.7em;
  border: none;
  height: 2.5em;
  font-size: 14px;
}

.card-icon {
  font-size: 20px;
}

.card:hover, .category:hover {
  background-color: lightgoldenrodyellow;
}

.center-div {
  margin: 0 auto;
}

input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
}

input[type=search] {
  -webkit-appearance: none;
}

.nav-search {
  width: 350px;
  margin: 0.5em 0.5em;
  padding: 0px;
}

  .nav-search label, .small-label {
    color: #0069d9;
    font-size: small;
    font-weight: bold;
    margin: 0px 10px;
  }

  .nav-search .form-group {
    margin-top: 0px;
    margin-bottom: 0px;
  }

.offset-navbar {
  margin-top: 70px;
}

@media (max-width: 768px) {
  /*  h1 {
      font-size:24px;
  }
    h1 .material-icons {
      font-size: 24px;
    }*/
  .dropdown-menu {
    /*      max-width: 350px;*/
  }

  .dropdown-item {
    white-space: pre-wrap;
    padding: 0.25rem 0.5rem;
    width: 100%;
  }

  .card, .nav-search {
    width: 100%;
    margin: 0.5em 0em;
  }

  .category {
    width: calc((50%) - (0.4em));
    /*    width:50%;*/
    margin: 0.2em 0.2em;
  }
}


/*# sourceMappingURL=styles.css.map*/
