<form>
  <div class="form-group">
    <label for="searchCity">Lọc theo thành phố</label>
    <input id="searchCity" name="searchCity" type="search" class="form-control"
           placeholder="Vd: Foutain Valley, CA"
           [(ngModel)]="model"
           [ngbTypeahead]="search"
           [inputFormatter]="inputFormatter"
           [resultFormatter]="resultFormatter"
           [editable]="false"
           (selectItem)="selectedItem($event)"
           (focus)="focus$.next($any($event).target.value)"
           (click)="click$.next($any($event).target.value)"
           #instance="ngbTypeahead"
           #term [ngbTooltip]="tooltipContent(term.value)"
           tooltipClass="btn btn-alert"
           triggers="manual" #t1="ngbTooltip"
           (search)="onSearch(t1)" />

    <!--<span class="input-group-append">
    <button class="input-group-text bg-transparent" (click)="searchBtnClick(t1)" type="submit">
      <i class="material-icons">search</i>
    </button>
  </span>-->

  </div>
</form>

<!--<pre>Model: {{ model | json }}</pre>-->
