<ul class="navbar-nav" *ngIf="isAuthenticated | async">
     <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="material-icons">
          account_circle
        </span>
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item text-dark" href="#" [routerLink]='["/authentication/profile"]' title="Manage">Hello {{ userName | async }}</a>
        <a class="dropdown-item" href="#">Edit Profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item text-dark" [routerLink]='["/authentication/logout"]' [state]='{ local: true }' title="Logout">Logout</a>
      </div>
    </li>

</ul>

<ul class="navbar-nav" *ngIf="!(isAuthenticated | async)">
  <li class="nav-item">
        <a class="nav-link text-dark" [routerLink]='["/authentication/register"]'>Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" [routerLink]='["/authentication/login"]'>Login</a>
    </li>
</ul>
