.logo {
    height: 40px;
}
.fb {
    background-color: #3B5998;
    color: white;
    width: 250px;
    padding: 10px;
    margin: 10px;
}

.twitter {
    background-color: #55ACEE;
    color: white;
    width: 250px;
    padding: 10px;
    margin: 10px;
}

.google {
    background-color: #dd4b39;
    color: white;
    width: 250px;
    padding:10px;
    margin: 10px;
}
