<div class="d-flex flex-wrap mb-3">
  <div class="category" *ngFor="let category of categories">
    <!--each category-->
    <a [routerLink]="['/category', category.id, service.urlFriendly(category.name)]" routerLinkActive="active">
      <div class="d-flex">
        <div>
          <span class="material-icons text-success category-icon">
            {{category.icon}}
          </span>
        </div>
        <div>
          {{category.name}}
        </div>
      </div>
    </a>
    <!--each category-->

  </div>
  <div class="ml-auto">
    <div class="mt-2 mr-4 badge-pill small-label" (click)="onExpand()">
      <span *ngIf="!isExpand" title="Show more" >Tất cả >></span>
      <span *ngIf="isExpand" title="Show less">Rút gọn <<</span>
    </div>
  </div>
</div>

<!--<div class="ml-auto">
  <button class="input-group-text btn mt-2 mr-4" type="button" (click)="onExpand()">
    <i *ngIf="!isExpand" class="material-icons">expand_more</i>
    <i *ngIf="isExpand" class="material-icons">expand_less</i>
  </button>
</div>-->

