@page
@model ForgotPasswordConfirmation
@{
    //ViewData["Title"] = "Forgot password confirmation";
    ViewData["Title"] = "Xác thực quên mật khẩu";
}

<h1>@ViewData["Title"]</h1>
<p>
    @*Please check your email to reset your password.*@
    Vui lòng kiểm tra email để thiết lập lại mật khẩu của bạn
</p>

