@page
@model LockoutModel
@{
    //ViewData["Title"] = "Locked out";
    ViewData["Title"] = "Tài khoản bị khóa";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    @*<p class="text-danger">This account has been locked out, please try again later.</p>*@
    <p class="text-danger">Tài khoản này đã bị khóa, vui lòng thử lại vào lúc khác.</p>
</header>
