@page
@model ResetPasswordConfirmationModel
@{
    //ViewData["Title"] = "Reset password confirmation";
    ViewData["Title"] = "Xác thực để đặt lại mật khẩu";
}

<h1>@ViewData["Title"]</h1>
<p>
    @*Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.*@
    Mật khẩu của bạn đã được thiết lập lại. Vui lòng <a asp-page="./Login"> bấm vào đây để đăng nhập </a>.
</p>
