<app-post-list></app-post-list>



<!--<app-banner></app-banner>
<app-ad-card></app-ad-card>-->



<div class="container">
  <div class="row">
    <div class="col-4 p-1" *ngFor="let post of posts">
      <a href="#" class="card-link" title="Click để xem chi tiết">
        <div class="card" style="height: 12rem;">
          <div class="card-body">
            <p class="card-text"> {{ post.title }}</p>
            <p class="card-text float-right"> [{{ post.createdDate | date }}] </p>
          </div>
        </div>
      </a>
    </div>
  </div>
  <p class="float-right small">{{successMessage}}</p>
  <!--{{errorMessage}}-->
</div>
