<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light border-bottom "
  >
    <div class="container">

      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
        [ngClass]="{ show: isExpanded }"
      >
        <app-login-menu></app-login-menu>
        <ul class="navbar-nav flex-grow">
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
          </li>

          <!--<li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/counter']">Counter</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/fetch-data']">Fetch data</a>
          </li>-->

          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/create-post']">Đăng Tin</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="border-bottom box-shadow mb-3">
    
    <div class="container">
      <div class="row">
        <div class="col-3">
          <a class="navbar-brand" [routerLink]="['/']">
            <img src="assets/images/raovatvietmy.png" alt="Rao Vặt Việt Mỹ" />
          </a>
        </div>

        <div class="col-3 d-flex align-items-center">
          <input type="search" class="form-control" placeholder="Tìm nội dung" />
        </div>

        <div class="col-3 d-flex align-items-center">
          <input type="search" class="form-control" placeholder="Thành phố" />
        </div>

        <div class="col-3 d-flex align-items-center">
          <button type="submit" class="btn btn-primary btn-create-post"> Đăng tin</button>
        </div>
      </div>
    </div>
  </div>
</header>
