<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light border-bottom "
  >
    <div class="container">

      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
           [ngClass]="{ show: isExpanded }">
        <app-login-menu></app-login-menu>
        <!--<input type="search" class="form-control col-6" placeholder="Tìm nội dung" />-->

        <ul class="navbar-nav flex-grow">
          <li class="nav-item">
            <a [routerLink]="['/']">
              <img class="logo" src="assets/images/raovatvietmy.png" alt="Rao Vặt Việt Mỹ" />
            </a>
          </li>

          <!--Search city input-->
          <li class="nav-item">
            <form #searchForm="ngForm" (ngSubmit)="searchPosts();">
              <div class="input-group">
                <input type="search" name="titleContain"
                       [(ngModel)]="searchContent"
                       placeholder="Tìm nội dung"
                       class="form-control">
  
                <span class="input-group-append">
                  <button class="input-group-text bg-transparent" type="submit">
                    <i class="material-icons">search</i>
                  </button>
                </span>
              </div>
            </form>
          </li>
         

          
<!--
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/']">
              <span class="material-icons"> home </span>
            </a>
          </li>
    -->

          <li class="nav-item" [routerLinkActive]="['link-active']">
            <button type="submit" class="btn btn-primary btn-create-post" [routerLink]="['/create-post']"> Đăng tin</button>
          </li>
         
        </ul>
      </div>
    </div>
  </nav>
  <div class="border-bottom box-shadow mb-3">
    <div class="container">
      <div class="row">
        <app-search-city class="col-5" [globalSearch]="true" (cityChange)="onCityChange($event)"></app-search-city>
        <app-search-category class="col-5" [globalSearch]="true" (cityChange)="onCategoryChange($event)"></app-search-category>
      </div>

    </div>
  </div>

</header>
