/*.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}*/

/*.navbar-fixed-top, .navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}*/

  /*a .navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}*/

  .nav-search{
      width: 350px;
      min-width:100px;
      margin: 10px 10px;
      
  }
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}


.navbar-item {
    border: red 2px solid;
}
.logo {
    height: 6vh;
    margin-left: 0;
}


#top-link-block.affix-show {
  display:block;
  position: fixed;
  bottom: 30px;
  right: 5px;
  background-color: transparent;
  z-index: 1000;
  color: dodgerblue;
}

#top-link-block.affix-hide {
  display:none;
}
