<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light border-bottom "
  >
    <div class="container">

      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
           [ngClass]="{ show: isExpanded }">
        <app-login-menu></app-login-menu>
        <!--<input type="search" class="form-control col-6" placeholder="Tìm nội dung" />-->

        <ul class="navbar-nav flex-grow">
          <li class="nav-item">
            <a [routerLink]="['/']">
              <img class="logo" src="assets/images/raovatvietmy.png" alt="Rao Vặt Việt Mỹ" />
            </a>
          </li>

          <!--Search city input-->
          <li class="nav-item">
            <app-search-city></app-search-city>
          </li>

          <!--Search content input-->
          <li class="nav-item">
            <app-search-content></app-search-content>
          </li>

          <!--Home button-->
          <!--<li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">-->

          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/']">
              <span class="material-icons"> home </span>
            </a>
          </li>


          <!--All categories button-->
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/create-post']">
              <span class="material-icons"> category </span>
            </a>
          </li>




         
        </ul>
      </div>
    </div>
  </nav>











  <div class="border-bottom box-shadow mb-3">
    
    <div class="container">
      <div class="row">
        <!--<div class="col-3">
          <a class="navbar-brand" [routerLink]="['/']">
            <img src="assets/images/raovatvietmy.png" alt="Rao Vặt Việt Mỹ" />
          </a>
        </div>-->

        <div class="col-4 d-flex align-items-center">
          <form class="form-inline my-2 my-lg-0" #searchForm="ngForm" (ngSubmit)="searchPosts();">
            <div class="form-group">
              <input type="text" name="titleContain"
                     [(ngModel)]="searchCriteria.titleContain"
                     placeholder="Tìm nội dung"
                     #titleContain="ngModel"
                     class="form-control">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Tìm</button>
            </div>
          </form>
        </div>
       
      </div>

      <div class="row">
        <app-search-city class="col-5" [globalSearch]="true" (cityChange)="onCityChange($event)"></app-search-city>
        <app-search-category class="col-5" [globalSearch]="true" (cityChange)="onCategoryChange($event)"></app-search-category>
      </div>

    </div>
  </div>
</header>
