.banner-container {
    border: solid lightgray 1px;
    padding-top: 0.3rem;
/*    width: 100%;*/


}
.banner {
/*  border: solid blue;*/
  background-color: lightblue;
  font-size: 6rem;
  /*  padding-top: 0.3rem;*/
/*    width: 90%;*/
}
.banner, .banner-container {
  border-radius: 80px 0px 100px 0px;
}
.material-icons {
    font-size: 8rem;
    justify-content: center;
}


/*.card, .card-header {
  border-radius: 0px 40px 0px 40px;*/
  /*    background-color: lightblue;*/
/*}





.card {
  width: 22rem;
  padding-top: 0.3rem;
  margin-top: 1rem;
}

.card, .card-header {
  border-radius: 0px 40px 0px 40px;*/
  /*    background-color: lightblue;*/
/*}


.card-header {
  background-color: lightblue;
}*/
