

<div class="card-container d-flex flex-wrap ">
  <div class="card" *ngFor="let post of posts">
    <!--<a href="#" class="card-link" title="Click để xem chi tiết">-->
    <!--End card header-->
    <!--<img class="card-img-top" src="{{card['img']}}" alt="Card image cap">-->

    <div class="card-body">
      <p class="card-text"> {{ post.title }} </p>
    </div>


    <div class="card-footer">
      <div class="d-flex">
        <div class="pr-2">
          <span class="material-icons text-success card-icon">
            {{post.icon}}
          </span>
        </div>

        <div class="pr-2">
          {{post.city}}.
        </div>

        <div class="mr-auto">
          Ngày {{ post.createdDate | date:'d/M/yy' }}
        </div>

        <div>
          <span class="material-icons card-icon">
            share
          </span>
        </div>

      </div>
    </div>


  </div>

</div>

<div class="text-center">
  <button class="btn btn-outline-secondary" (click)="loadMore()"><<< Xem thêm >>></button>
</div>
<p class="float-right small">{{successMessage}}</p>
<!--{{errorMessage}}-->
